.background{

position:fixed;

inset:0;

overflow:hidden;

z-index:-1;

background:#090b17;

}

.blob{

position:absolute;

border-radius:50%;

filter:blur(130px);

opacity:.45;

animation:move 20s infinite alternate;

}

.one{

width:400px;

height:400px;

background:#7c3aed;

top:-120px;

left:-100px;

}

.two{

width:500px;

height:500px;

background:#2563eb;

right:-150px;

top:200px;

animation-duration:24s;

}

.three{

width:350px;

height:350px;

background:#ec4899;

bottom:-150px;

left:40%;

animation-duration:18s;

}

@keyframes move{

from{

transform:translate(0,0);

}

to{

transform:translate(80px,-70px);

}

}
.section-title{

margin-bottom:70px;

text-align:center;

}

.section-title p{

color:#8b5cf6;

text-transform:uppercase;

letter-spacing:3px;

font-size:14px;

margin-bottom:10px;

}

.section-title h2{

font-size:46px;

}